.zvhq-tooltip {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #fff;
  white-space: nowrap;
  padding: 5px 8px 6px;
  background-color: rgba(97, 97, 97, 0.902);
  border-radius: 2px;
}

.dyab-bookmarks {
  width: 100%;
  height: 32px;
  background-color: #fff;
  border-bottom: solid 1px #e8eaed;
  box-sizing: border-box;
  padding-left: 28px;
  display: flex;
  align-items: center;
}

.dyab-bookmarks-button-container {
  position: relative;
}

.dyab-bookmarks-button-container:not(:first-child) {
  margin-left: 8px;
}

.dyab-bookmarks-button {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.dyab-bookmarks-button:hover {
  background-color: rgba(60, 64, 67, 0.078);
}

.dyab-bookmarks-button svg {
  width: 15px;
  height: 15px;
}

.dyab-bookmarks-container .dyab-bookmarks-button {
  margin-left: 8px;
}

.dyab-bookmarks-button-popover {
  position: absolute;
  top: 24px;
  z-index: 100;
  width: 400px;
  max-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.dyab-bookmarks-button-popover-scroll {
  overflow-y: auto;
}

.dyab-bookmarks-button-popover-inner {
  height: 100%;
  background: #ccc;
  padding: 4px;
  box-sizing: border-box;
}

.dyab-pinned {
  background: #ff6 !important;
}

.dyab-pin {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
}

.dyab-pin:not(:first-child) {
  margin-top: 4px;
}

.dyab-pin-head {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.dyab-pin-head-user {
  padding-left: 4px;
}

.dyab-pin-head-timestamp {
  padding-left: 4px;
  color: #999;
}

.dyab-dialog-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 5000;
}

.dyab-dialog-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dyab-dialog {
  width: 600px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%);
}

.dyab-dialog-header {
  padding: 16px 24px;
  border-bottom: solid 1px rgba(100, 121, 143, 0.122);
  display: flex;
  align-items: center;
}

.dyab-dialog-body {
  padding: 12px 24px;
  background-color: #f2f2f2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dyab-dialog-footer {
  padding: 16px 24px;
  border-top: solid 1px rgba(100, 121, 143, 0.122);
  display: flex;
  align-items: center;
}

.dyab-pull-right {
  margin-left: auto;
}

.dyab-form-control {
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}

.dyab-form-control:not(:first-child) {
  margin-top: 12px;
}

.dyab-form-control div {
  display: flex;
}

.dyab-form-control input,
.dyab-form-control select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  flex-grow: 1;
}

.dyab-hint {
  font-size: 80%;
  color: #5f6368;
}

.dyab-button-container {
  display: flex;
  align-items: center;
  height: 46px;
  padding-left: 8px;
}

.dyab-button {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 3px;
}

.dyab-button-container .dyab-button {
  padding: 4px 12px;
}

.dyab-icon-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
}

.dyab-button:hover,
.dyab-icon-button:hover {
  background-color: rgba(60, 64, 67, 0.078);
}
