.yqwh-dialog-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 5000;
}

.yqwh-dialog-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yqwh-dialog {
  width: 600px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #202124;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.gb_vc .yqwh-dialog {
  color: #f8f9fa;
  background-color: #202124;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.yqwh-dialog-header {
  padding: 16px 24px;
  border-bottom: solid 1px #e8eaed;
  display: flex;
  align-items: center;
}

.gb_vc .yqwh-dialog-header {
  border-bottom: solid 1px #3c4043;
}

.yqwh-dialog-body {
  padding: 12px 24px;
  background-color: #f2f2f2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.gb_vc .yqwh-dialog-body {
  background-color: #3c4043;
}

.yqwh-dialog-footer {
  padding: 16px 24px;
  border-top: solid 1px #e8eaed;
  display: flex;
  align-items: center;
}

.gb_vc .yqwh-dialog-footer {
  border-top: solid 1px #3c4043;
}

.yqwh-pull-right {
  margin-left: auto;
}

.yqwh-form-control {
  padding: 24px;
  color: #202124;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  display: flex;
  flex-direction: column;
}

.gb_vc .yqwh-form-control {
  color: #f8f9fa;
  background-color: #202124;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.yqwh-form-control:not(:first-child) {
  margin-top: 12px;
}

.yqwh-form-control div {
  display: flex;
}

.yqwh-form-control input,
.yqwh-form-control select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #e8eaed;
  flex-grow: 1;
}

.gb_vc .yqwh-form-control input,
.gb_vc .yqwh-form-control select {
  border: solid 1px #3c4043;
}

.yqwh-hint {
  font-size: 80%;
  color: #5f6368;
}

.gb_vc .yqwh-hint {
  color: #9aa0a6;
}

.yqwh-button-container {
  display: flex;
  align-items: center;
  height: 46px;
  padding-left: 8px;
}

.yqwh-button {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 3px;
}

.yqwh-button-container .yqwh-button {
  padding: 4px 12px;
}

.yqwh-icon-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
}

.yqwh-button:hover,
.yqwh-icon-button:hover {
  background-color: #f1f3f4;
}

.gb_vc .yqwh-button:hover,
.gb_vc .yqwh-icon-button:hover {
  background-color: rgba(248, 249, 250, 0.039);
}
